.mystyle {
  
    background-color: coral;
    color: white;
    font-size: 25px;
  }
  .mystyle1 {
    
   
    background-color: coral;
    color: white;
    font-size: 25px;
  }
  #header1 {
    background-color: forestgreen;
  }